* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
}
nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d2d2d2;
  z-index: 10;
  background-color: white;
}
.item {
  font-family: "Lexend Peta", sans-serif;
  padding: 2rem;
  font-size: 1.2rem;
  color: #464646;
}

#logo {
  animation: fill 0.5s ease forwards 3s;
}
#logo path:nth-child(1) {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 188;
  stroke-dashoffset: 188;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 469;
  stroke-dashoffset: 469;
  animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 2s ease forwards 0.7s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 206;
  stroke-dashoffset: 206;
  animation: line-anim 2s ease forwards 0.9s;
}
.split {
  position: relative;
}
.split-right,
.split-left {
  width: 50%;
}
.split-right {
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 56px;

  line-height: 1.5;
}
.description-container .title {
  font-size: 2rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.description-container .description {
  font-size: 1.3rem;
  padding-top: 1.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.split-left {
  /* border: green 1px solid; */
  position: relative;
}
.split {
  display: flex;
}
.beer {
  position: sticky;
  top: 56px;
  position: -webkit-sticky;
  font-family: "Lexend Peta", sans-serif;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  font-size: 3rem;
  font-weight: 800;
  top: 56px;
  background-color: #fbfaf9;
  padding-left: 3rem;
  padding-right: 3rem;
}

.introduce.sticky {
  font-family: "Lexend Peta", sans-serif;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfa92;
  /* z-index: 3; */
  position: sticky;
  padding-left: 3rem;
  padding-right: 3rem;
  top: 56px;
}
.introduce.fixed {
  font-family: "Lexend Peta", sans-serif;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfa92;
  width: 50%;
  position: fixed;

  top: 56px;
}

.section-2 {
  font-family: "Lexend Peta", sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  position: relative;
  z-index: 20;
  background-color: #f5f3f3;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
